<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">
<div id="header" th:replace="fragments :: header"></div>

    <h1 th:text="${title}">Default Title</h1>

<!---------    DISPLAY VET ASSISTANCE FORM ---------->
    <h2 th:text="${title_vet}">Apply for Assistance</h2>
    <form>

    </form>


<!-----------   DISPLAY VOLUNTEER FORM   ----------->

<!-------------------   FOOTER   ------------------->
<div id="footer" th:replace="fragments :: footer"></div>

</body>
</html>