<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <!-- REQUIRED META TAGS -->
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--     MAIN CSS     -->
    <link rel="stylesheet" th:href="@{/css/S4S.css}"/>
    <link rel="stylesheet" media="screen and (min-width:550px) and (max-width:700px)" th:href="@{/css/S4S_Medium.css}"/>
    <link rel="stylesheet" media="screen and (min-width:701px)" th:href="@{/css/S4S_Large.css}"/>
    <!--  BOOTSTRAP CSS   -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <script th:src="@{/js/jQuery.js}" ></script>
    <script th:src="@{/js/helper.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
    <!--    <script type="text/javascript" th:src="@{/js/script.js}"></script>-->
    <title th:text="${title}">Songs for Soldiers</title>
</head>

<body class="container">
<div id="header" th:replace="fragments :: header"></div>

<h1 th:text="${title}"></h1>

<div id="main">
    <div id="products">
        <div>
            <img src="../images/catalog/CrewSweatshirt_740x.jpeg">
            <p class="product-text">Crewneck Sweatshirt</p>
            <p class="price-text">$30.00</p>
        </div>
        <div>
            <img src="../images/catalog/CrewSweatshirt_740x.jpeg">
            <p class="product-text">Tailgate Fest Baseball Tee</p>
            <p class="price-text">$25.00</p>
        </div>
        <div>
            <img src="../images/catalog/Womenstankfront_740x.jpeg">
            <p class="product-text">Women's Tank Top</p>
            <p class="price-text">$20.00</p>
        </div>
        <div>
            <img src="../images/catalog/CrewSweatshirt_740x.jpeg">
            <p class="product-text">2019 Event Tee</p>
            <p class="price-text">$10.00</p>
        </div>
        <div>
            <img src="../images/catalog/CrewSweatshirt_740x.jpeg">
            <p class="product-text">2019 Youth Event Tee</p>
            <p class="price-text">$10.00</p>
        </div>
        <div>
            <img src="../images/catalog/2020teefront_1024x1024@2x.png">
            <p class="product-text">2020 Event [Cancelled] Tee</p>
            <p class="price-text">$15.00</p>
        </div>
        <div>
            <img src="../images/catalog/CrewSweatshirt_740x.jpeg">
            <p class="product-text">2021 Event Tee</p>
            <p class="price-text">$20.00</p>
        </div>
        <div>
            <img src="../images/catalog/CrewSweatshirt_740x.jpeg">
            <p class="product-text">Flatbill Cap</p>
            <p class="price-text">$25.00</p>
        </div>
        <div>
            <img src="../images/catalog/bwhat_740x.png">
            <p class="product-text">B/W Baseball Cap</p>
            <p class="price-text">$20.00</p>
        </div>
        <div>
            <img src="../images/catalog/visor_900x.jpeg">
            <p class="product-text">Sun Visor</p>
            <p class="price-text">$15.00</p>
        </div>
        <div>
            <img src="../images/catalog/masks_900x.png">
            <p class="product-text">S4S Facemask</p>
            <p class="price-text">$10.00</p>
        </div>
        <div>
            <img src="../images/catalog/CrewSweatshirt_740x.jpeg">
            <p class="product-text">S4S Fanny Pack</p>
            <p class="price-text">$10.00</p>
        </div>
        <div>
            <img src="../images/catalog/CrewSweatshirt_740x.jpeg">
            <p class="product-text">S4S Sun Glasses</p>
            <p class="price-text">$5.00</p>
        </div>
        <div>
            <img src="../images/catalog/20oztumbler_900x">
            <p class="product-text">Insulated Tumbler</p>
            <p class="price-text">$20.00</p>
        </div>
        <div>
            <img src="../images/catalog/CrewSweatshirt_740x.jpeg">
            <p class="product-text">Insulated Cup</p>
            <p class="price-text">$20.00</p>
        </div>
        <div>
            <img src="../images/catalog/S4S-3.5x4decalmockup_900x.png">
            <p class="product-text">S4S Decals (3)</p>
            <p class="price-text">$5.00</p>
        </div>
    </div>
</div>

<!--<script th:href="@{/js/catalogBuilder.js}"></script>-->

<div id="footer" th:replace="fragments :: footer"></div>

</body>
</html>